* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.game {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1024px;
  display: grid;
  height: 500px;
  width: 280px;
  grid: "title" 40px "instruction" 140px "choice" 140px "result" 80px "stats" 80px/1fr;
  place-items: center;
}
.game__title--second, .game__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.game__p {
  font-size: 1.2rem;
}
.game__p__span {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}
.game__title {
  grid-area: title;
  font-size: 1.5rem;
}
.game__instruction {
  grid-area: instruction;
}
.game__instruction__img {
  height: 160px;
  width: 180px;
}
.game__choice {
  grid-area: choice;
  display: flex;
  flex-direction: column;
}
.game__choice__img {
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin: 0 10px;
}
.game__choice__img--active {
  box-shadow: 0 0 0 5px black;
}
.game__choice__btn {
  font-size: 1.3rem;
  margin: 20px auto 0;
  padding: 3px 0;
  width: 70%;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 2px black;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}
.game__stats, .game__result {
  height: 100px;
  width: 230px;
}
.game__result {
  grid-area: result;
}
.game__stats {
  grid-area: stats;
}

@media (max-width: 600px) and (orientation: landscape) {
  .game {
    height: 300px;
    width: 500px;
    grid: "title title" 50px "instruction choice" 150px "stats result" 90px/0.9fr 1.5fr;
  }
  .game__instruction {
    grid-area: instruction;
  }
  .game__instruction__img {
    height: 140px;
    width: 160px;
  }
  .game__stats {
    padding-left: 50px;
  }
}
@media (min-height: 600px) and (max-height: 799px) and (orientation: portrait) {
  :root {
    font-size: 12px;
  }
  .game {
    height: 700px;
    width: 330px;
    grid: "title" 70px "instruction" 180px "choice" 200px "result" 90px "stats" 90px/1fr;
  }
  .game__title {
    padding-top: 40px;
    font-size: 1.6rem;
  }
  .game__choice {
    padding-bottom: 20px;
  }
  .game__choice__img {
    height: 75px;
    width: 75px;
  }
}
@media (min-width: 601px) and (max-width: 800px) and (orientation: landscape) {
  :root {
    font-size: 12px;
  }
  .game {
    height: 300px;
    width: 700px;
    grid: "title title" 60px "instruction choice" 170px "stats result" 110px/0.8fr 1.5fr;
  }
  .game__instruction__img {
    height: 140px;
    width: 160px;
  }
  .game__choice__img {
    height: 70px;
    width: 70px;
  }
  .game__stats {
    padding-left: 50px;
  }
}
@media (min-height: 800px) and (max-height: 1023px) and (orientation: portrait) {
  :root {
    font-size: 15px;
  }
  .game {
    height: 700px;
    width: 420px;
    grid: "title" 50px "instruction" 200px "choice" 220px "result" 150px "stats" 120px/1fr;
  }
  .game__instruction__img {
    height: 190px;
    width: 220px;
  }
  .game__choice {
    padding-bottom: 20px;
  }
  .game__choice__img {
    height: 110px;
    width: 110px;
  }
  .game__choice__btn {
    font-size: 1.5rem;
    margin-top: 35px;
  }
  .game__stats, .game__result {
    height: 100px;
    width: 300px;
  }
}
@media (min-width: 801px) and (max-width: 1023px) and (orientation: landscape) {
  :root {
    font-size: 15px;
  }
  .game {
    height: 600px;
    width: 1000px;
    grid: "title title" 100px "instruction choice" 200px "stats result" 200px/300px 500px;
    place-content: center;
  }
  .game__title {
    font-size: 1.8rem;
  }
  .game__instruction__img {
    height: 220px;
    width: 250px;
  }
  .game__choice__img {
    height: 125px;
    width: 125px;
  }
  .game__stats {
    padding-left: 50px;
  }
}
@media (min-width: 800px) and (max-height: 450px) and (orientation: landscape) {
  :root {
    font-size: 15px;
  }
  .game {
    height: 440px;
    width: 800px;
    grid: "title title title" 50px "instruction choice choice " 200px " result result stats" 150px/1fr 0.5fr 0.5fr;
  }
  .game__instruction__img {
    height: 120px;
    width: 150px;
  }
  .game__choice {
    padding-bottom: 20px;
  }
  .game__choice__img {
    height: 80px;
    width: 80px;
  }
  .game__choice__btn {
    font-size: 1.5rem;
    margin-top: 25px;
  }
  .game__stats, .game__result {
    height: 100px;
    width: 300px;
  }
  .game__stats {
    margin-right: 50px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  :root {
    font-size: 20px;
  }
  .game {
    height: 700px;
    width: 1024px;
    grid: "title title" 120px "instruction choice" 280px "stats result" 250px/412px 612px;
    place-content: center;
    max-height: 1024px;
    margin: 0 auto;
  }
  .game__title {
    font-size: 2rem;
  }
  .game__instruction__img {
    height: 250px;
    width: 270px;
  }
  .game__choice__img {
    height: 150px;
    width: 150px;
  }
  .game__stats {
    padding-left: 50px;
  }
  .game__result, .game__stats {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */