.game
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  max-width: 1024px
  display: grid
  +heighWidth(500px,280px)
  grid: 'title' 40px 'instruction' 140px 'choice' 140px 'result' 80px 'stats' 80px / 1fr
  place-items: center
  &__title--second,
  &__title
    text-transform: uppercase
    font-size: 1.5rem
    margin-bottom: 5px
  &__p
    font-size: 1.2rem
    &__span
      font-size: 1rem
      font-weight: bold
      font-style: italic
  &__title
    grid-area: title
    font-size: 1.5rem
  &__instruction
    grid-area: instruction
    &__img
      +heighWidth(160px,180px)
  &__choice
    grid-area: choice
    display: flex
    flex-direction: column
    &__img
      +heighWidth(60px,60px)
      cursor: pointer
      // filter: drop-shadow(8px 8px 10px gray)
      margin: 0 10px
    &__btn
      font-size: 1.3rem
      margin: 20px auto 0
      padding: 3px 0
      width: 70%
      text-transform: uppercase
      font-weight: bold
      border: solid 2px black
      background-color: transparent
      border-radius: 25px
      cursor: pointer
  &__stats,
  &__result
    +heighWidth(100px,230px)
  &__result
    grid-area: result
  &__stats
    grid-area: stats
