+mq(mobile600-land)
  .game
    +heighWidth(300px,500px)
    grid: 'title title' 50px 'instruction choice' 150px 'stats result' 90px / 0.9fr 1.5fr
    &__instruction
      grid-area: instruction
      &__img
        +heighWidth(140px,160px)
    &__stats
      padding-left: 50px

+mq(mobile600-port)
  :root
    font-size: 12px
  .game
    +heighWidth(700px,330px)
    grid: 'title' 70px 'instruction' 180px 'choice' 200px 'result' 90px 'stats' 90px / 1fr
    &__title
      padding-top: 40px
      font-size: 1.6rem
    &__choice
      padding-bottom: 20px
      &__img
        +heighWidth(75px,75px)

+mq(mobile800-land)
  :root
    font-size: 12px
  .game
    +heighWidth(300px,700px)
    grid: 'title title' 60px 'instruction choice' 170px 'stats result' 110px / 0.8fr 1.5fr
    &__instruction
      &__img
        +heighWidth(140px,160px)
    &__choice
      &__img
        +heighWidth(70px,70px)
    &__stats
      padding-left: 50px

+mq(mobile800-port)
  :root
    font-size: 15px
  .game
    +heighWidth(700px,420px)
    grid: 'title' 50px 'instruction' 200px 'choice' 220px 'result' 150px 'stats' 120px / 1fr
    &__instruction
      &__img
        +heighWidth(190px,220px)
    &__choice
      padding-bottom: 20px
      &__img
        +heighWidth(110px,110px)
      &__btn
        font-size: 1.5rem
        margin-top: 35px
    &__stats,
    &__result
      +heighWidth(100px,300px)

+mq(mobile1024-land)
  :root
    font-size: 15px
  .game
    +heighWidth(600px,1000px)
    grid: 'title title' 100px 'instruction choice' 200px 'stats result' 200px / 300px 500px
    place-content: center
    &__title
      font-size: 1.8rem
    &__instruction
      &__img
        +heighWidth(220px,250px)
    &__choice
      &__img
        +heighWidth(125px,125px)
    &__stats
      padding-left: 50px

+mq(mobile800-land-height-450px)
  :root
    font-size: 15px
  .game
    +heighWidth(440px,800px)
    grid: 'title title title' 50px 'instruction choice choice ' 200px ' result result stats' 150px / 1fr 0.5fr 0.5fr
    &__instruction
      &__img
        +heighWidth(120px,150px)
    &__choice
      padding-bottom: 20px
      &__img
        +heighWidth(80px,80px)
      &__btn
        font-size: 1.5rem
        margin-top: 25px
    &__stats,
    &__result
      +heighWidth(100px,300px)
    &__stats
      margin-right: 50px
      margin-bottom: 10px

+mq(deskt1024-land)
  :root
    font-size: 20px
  .game
    +heighWidth(700px,1024px)
    grid: 'title title' 120px 'instruction choice' 280px 'stats result' 250px / 412px 612px
    place-content: center
    max-height: 1024px
    margin: 0 auto
    &__title
      font-size: 2rem
    &__instruction
      &__img
        +heighWidth(250px,270px)
    &__choice
      &__img
        +heighWidth(150px,150px)
    &__stats
      padding-left: 50px
    &__result,
    &__stats
      width: 400px
